*,**::after,**::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    background-color: #131419;
    overflow: hidden;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #85e7f0;
}
.nav_barre{
    background-color: #3e4245 ;
    margin-top: 0;
    padding: 0;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
}
.logo_class{
    grid-column: 2/3;
}
.span_class{
    position: relative;
    grid-column: 11/12;
    align-items: center;
    align-self: flex-start;
}
span{
    display: block;
    background-color: #85e7f0;
    height: 5px;
    width: 100%;
    margin-top: .1em;
    margin-right: 0;
}
.haut{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.side_barre{
    position: relative;
    display: flex;
    justify-content: center;
}
.hidden{
    background-color: #3e4245;
    position: absolute;
    text-align: center;
    align-items: center;
    margin-top: .2em;
    margin-right: .2em;
    height: 0;
    right: -50%;
    width: 0;
    z-index: 1;
    padding: 0;
    border-radius: 10px;
    opacity: 0;
}
.vue{
    width: 30%;
    height: 200px;
    right: 0%;
    transition: opacity 1s ease;
    opacity: 1;
}
ul li{
    width: 100%;
    list-style: none;
}
a{
    text-decoration: none;
}
ul li a h2{
    font-size: 1em;
    position: relative;
    display: inline-block;
}
a h2::before{
   position: absolute;
   height: 0;
   width: 0;
   content: "";
   left: 50%;
   transform: translateX(-50%);
   bottom: 0;
   transition: width ease-in-out 500ms;
}
a h2:hover::before{
    height: 4px;
    width: 100%;
    background-color: #85e7f0;
}
.mesInfo h3, h1{
    color: #85e7f0;
    font-size: 1.5em;
    text-align: center;
}
h1{
    font-size: 4em;
}